body
{
	margin:0;
	background:#F1EFEF;
}

h1
{
	text-align: center;
	text-transform: uppercase;
	padding:20px;
	background-color: #000;
	color: #fff;
}	

strong
{
	color: #0734B6;
}

b
{
	color:#074FD6;
}

a
{
	padding:10px 20px;
	border-radius: 5px;
	font-size: 20px;
	color: #298E10;	
	background-color: #000;
}

.container
{
	max-width: 1024px;
	display: flex;
}
.js
{
	width: 20%;
	font-size: 1.4em;
	display: inherit;
	margin-left: 40px;

}

.nota
{
	width: 80%;
	font-size: 1.3em;
	display:inherit;
}

.movil
{
	color:#F1EFEF;
}


@media screen and (max-width: 1023px)
{
	.movil
	{
		color:#000;
	}

}

@media screen and (max-width: 767px)
{
	.js
	{
		margin-left: 20px;
		font-size:1.1em ;
	}
}

@media screen and (max-width: 480px)
{
	h2
	{
		font-size:1.3em ;
	}
	h3
	{
		font-size:1.1em;
	}
	.js
	{
		margin-left: 20px;
		font-size:.9em;
	}
	.nota
	{
		font-size: .9em;
	}

}

@media screen and (max-width: 319px)
{
	h2
	{
		font-size: 1.1em;
	}
	h3
	{
		font-size:1em ;
	}
	.js
	{
		margin-left:10px ; 
		font-size: .8em;	
	}
	.nota
	{
		font-size:.8em ;
	}
}
