body
{
	margin:0;
	background:#F1EFEF;
}

h1
{
	text-align: center;
	text-transform: uppercase;
	padding:20px;
	background-color: #000;
	color: #fff;
}

.js
{
	margin-left: 40px;
}

strong
{
	color: #0734B6;
}

b
{
	color:#074FD6;
}

a
{
	padding:10px 20px;
	border-radius: 5px;
	font-size: 20px;
	color: #298E10;	
	background-color: #000;
}

.container
{
	max-width: 1024px;
	display: flex;
}
.js
{
	width: 20%;
	display: inherit;

}

.nota
{
	width: 80%;
	font-size: 1em;
	display:inherit;
}



